.card{
    text-align: center;
    margin: auto;
    margin-top: 7%;
    /* margin-left: 40%; */
}
.card-text{
    margin: 5%;
}

.password__generator{
    display: flex;
    justify-content: space-between;
    margin: 5%;
    padding: 5%;
    background-color: black;
    color: white;
    height: 60px;
}
.copy-button{
    margin-left: 3px;
    cursor: pointer;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}
.generate-btn{
    margin: 5%;
    width: 90%;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
}
.Alert{
    text-align: center;
    width: 30%;
    height: 50px;
    margin: auto;
}
.password-text-holder{
    overflow-x: auto;
    background-color: black;
    border: none;
    color: white;
}